<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Santri</title>

    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/w3.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/santri.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/toastr.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/global.css">

    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/brands.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/fontawesome.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/regular.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/solid.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/svg-with-js.css">
    <link rel="stylesheet" href="{{SOURCE}}/resource/View/css/css-awesome/v4-shims.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    {{content}}

    <script src="{{SOURCE}}/resource/View/js/jquery.js"></script>
    <script src="{{SOURCE}}/resource/View/js/global.js"></script>
</body>

</html>